
<!-- FIXME : use json/grid -->
<button class="side-menu" value="/servers">All Servers</button>

<style>
	div#server-search {font-size:0.8em; white-space:nowrap;}
	div#server-search #search {width:76px; height:24px; float:right; margin:0;}
	div#server-search #keyword {width:120px; height:20px; }
	div#server-search #keyword {border:1px solid #666; margin:0px; }
	/* search result */
	.jstree-search {color:#944 !important; font-style:inherit !important}
</style>

<div id="server-search">
	<input type="button" id="search" value="search"
		class="ui-widget ui-button ui-state-default"/>
	<input type="text" id="keyword" />
</div>

<script src="/js/jstree/jquery.jstree.js"></script>
<script>
	$(document).ready(function(){
		$("#server-tree").jstree({
			"json_data" : {
				"ajax": {
					"url" : "/tags.json",
					"data" : function (n) { 
						return { id : n.attr ? n.attr("id") : 0 }; 
					}
				}
			},
			"themes" : {
				"theme" : "apple",
				"dots" : false,
				"icons" : true
			},
			"types" : {
				"types" : {
					"tag":{
						"icon":"folder",
					},
					"server" : {
						"icon" : {"image" : "/images/icons/os-linux-16.png"},
					}
				}
			},
			"search" : {
				"case_insensitive" : true,
				"show_only_matches" : false,
				"ajax" : {
					"url" : "/tags.json",
				}
			},
			"plugins" : ["themes", "json_data", "ui", "search", "types"]
		}).bind("select_node.jstree", function(e, data) {
			if(jQuery.data(data.rslt.obj[0], "id")) {
				var id = jQuery.data(data.rslt.obj[0], "id");
				var label = jQuery.data(data.rslt.obj[0], "name");
				if ($("#server-" + id).length == 0) {
					$("#tabs").tabs("add", "#server-" + id, label);
					var tabid = $("#tabs").tabs("option", "selected");
					$("#tabs").tabs("url", tabid, "/servers/" + id);
					$("#tabs").tabs("load", tabid);
				} else {
					idx = $("#tabs>div").index($("#server-" + id));
					$("#tabs").tabs("select", idx);
				}
			} else {
				$("#server-tree").jstree("toggle_node", data.rslt.obj[0]);
				$("#server-tree").jstree("deselect_node", data.rslt.obj[0]);
			}
		});

		$("#search").click(function() {
			$("#server-tree").jstree(
				"search",
				document.getElementById("keyword").value
			);
		});
	});
</script>
<div id="server-tree" style="clear:both"></div>

<!-- vim:set ts=4 sw=4: -->
