<style>
	.ui-layout-content {padding:5px}

	#tabs {margin:2px}
	#tabs ul {}
	#tabs ul li {}
	#tabs ul li a {margin:2px; padding:0 5px; cursor:pointer; font-size:.8em}
	#tabs ul li .ui-icon-close {float:left; margin:0.2em; cursor:pointer;}
	#add_tab { cursor:pointer; }
</style>
<script>
	$(function() {
		var $tabs = $( "#tabs").tabs({
			tabTemplate: "<li><a href='#{href}'>#{label}</a> <span class='ui-icon ui-icon-close'>Remove Tab</span></li>",
			add: function(event, ui) {
				$tabs.tabs("select", ui.index);
			},
			/*
			select: function(event, ui) { alert("select:"+ui.panel.innerHTML); },
			load: function(event, ui) { alert("load:"+ui.panel.innerHTML); },
			*/
			/* remove old content from panel. prevent memory leak. */
			show: function(event, ui) { ui.panel.innerHTML = ''; },
			remove: function(event, ui) { ui.panel.innerHTML = ''; },
			spinner: 'Retrieving data...'
		});

		$( "#tabs span.ui-icon-close" ).live( "click", function() {
			var index = $( "li", $tabs ).index( $( this ).parent() );
			$tabs.tabs( "remove", index );
		});
	});
</script>

<div id="tabs">
	<ul>
	</ul>
</div>
<!-- vim:set ts=2 sw=2: -->
