		<!-- ### rendered into side menu ACCORDION -->
		<div id="sidemenu" class="basic">
			<h3 class="ui-widget-header"><a href="#">Servers</a></h3>
			<div>
				<%= render 'servers/menu' %>
			</div>
			<h3 class="ui-widget-header"><a href="#">Groups</a></h3>
			<div>
			</div>
			<h3 class="ui-widget-header"><a href="#">Tasks</a></h3>
			<div>
			</div>
			<h3 class="ui-widget-header"><a href="#">Histories</a></h3>
			<div>
			</div>
			<% if current_user.admin %>
			<h3 class="ui-widget-header"><a href="#">Admin</a></h3>
			<div>
			</div>
			<% end %>
		</div>
		<!-- vim: set ts=2 sw=2: -->
