		<!-- ### rendered into side menu ACCORDION -->
		<div id="sidemenu" class="basic">
			<h3 class="ui-widget-header"><a href="#">Servers</a></h3>
			<div>
				<%= render 'servers/menu' %>
			</div>
			<h3 class="ui-widget-header"><a href="#">Groups</a></h3>
			<div>
			</div>
			<h3 class="ui-widget-header"><a href="#">Tasks</a></h3>
			<div>
			</div>
			<h3 class="ui-widget-header"><a href="#">Histories</a></h3>
			<div>
			</div>
			<% if current_user.admin %>
			<h3 class="ui-widget-header"><a href="#">Admin</a></h3>
			<div>
			</div>
			<% end %>
		</div>

		<script>
			$(document).ready(function() {
				$( ".side-menu" ).button({
					create: function(event, ui) {
						$( ".side-menu" ).removeClass("ui-corner-all");
						$( ".side-menu" ).addClass("hcu-side-button");
					}
				}).click(function() {
					var label = $(this).text();
					var id = label.replace(/ /g, '_').toLowerCase();
					if ($("#tab-" + id).length == 0) {
						$("#tabs").tabs("add", "#tab-" + id, label);
						var tabid = $("#tabs").tabs("option", "selected");
						$("#tabs").tabs("url", tabid, $(this).attr("value"));
						$("#tabs").tabs("load", tabid);
					} else {
							idx = $("#tabs>div").index($("#tab-" + id));
							$("#tabs").tabs("select", idx);
					}
				});
			});
		</script>
		<!-- vim: set ts=2 sw=2: -->
