/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.a-center { text-align: center; }
.a-justify { text-align: justify; }
.a-right { text-align: right; }

table {
	width: 100%;
	background-color: #888;
	border-spacing: 1px;
}

th {
	background-color: #aaa;
}

tr {
	background-color: #eee;
}


